
body {
	background: #ffffff none repeat scroll 0% 0%;
	color: #000000;
	line-height: 1.4;
	text-decoration: none;
	font-size: 20px;
	font-family: "Lucida Grande", Open, sans-serif;
}

td {
	padding: 10px;
}

p {
	text-align: center;
}

.centre {
	margin-left: auto;
	margin-right: auto;
}

.centre_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.links {
	height: 382px;
	padding-top: 50px;
}

.links a:link, .links a:visited {
	color: #000000;
	text-decoration: none;
}

.links a:hover,
.links a:active {
	color: #803594;
	text-decoration: underline;
}

.more_info_links {
	text-align: center;
	height: 40px;
}

.more_info_links a:link,
.more info_links a:visited {
	color: #803594;
	text-decoration: none;
}

.more_info_links a:hover,
.more_info_links a:active {
	color: #803594;
	text-decoration: underline;
}

.navarrows {
	font-size: 32pt;
	background-color: #f1f1f1;
	border-radius: 50%;
	text-decoration: none;
	display: inline-block;
	padding: 3px 28px 8px 28px;
}

.navarrows a {
	text-decoration: none;
	display: inline-block;
	padding: 6px 16px;
}

.previous {
	position: absolute;
	top: 45%;
	left: 30px;
}

.next {
	position: absolute;
	top: 45%;
	right: 30px;
}