
:root {
  font-size: 62.5%;
}

body {
	background: #ffffff none repeat scroll 0% 0%;
	color: #454f59;
	line-height: 1.7;
	margin: 30px;
	margin-bottom: 150px;
	text-decoration: none;
	font-size: 1.6rem;
	font-family: Roboto, Open, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 30px 10px;
  }
}


a:link {
	color: #2f705c;
	text-decoration: underline;
	text-underline-offset: 2px;
}

a:visited {
	color: #2f705c;
	text-decoration: underline;
	text-underline-offset: 2px;
}

a:hover,
a:active {
	color: #46af8e;
	text-decoration: none;
}

.header {
	display: flex;
	height: 50px;
}

a.button {
	padding: 6px 20px;
	text-align: center;
  text-decoration: none;
  display: inline-block;
	background-color: #2f705c;
	color: #ffffff;
	border-radius: 7px;
	margin-left: 30px;
	line-height: 1.2;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 2px 5px rgb(0 0 0 / 18%);
}

a.button:hover {
	background-color: rgba(52,125,103,1);
}

h1 {
	color: #2a262b;
	padding-left: 2px;
	font-size: 3.2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1.4;
}

h2 {
	color: #2a262b;
	padding-left: 2px;
	font-size: 3.2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1.4;
}

h3 {
	color: #6a3b71;
	padding-left: 2px;
	font-size: 2.4rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.4;
}

div.indexSection {
	background: #6a3b71;
	color: #FFF;
	padding: 14px 17px;
	font-size: 2.4rem;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px 10px 0 0;
}

div.indexSubTitle {
	background: #341c31;
	color: rgba(255,255,255,0.8);
	padding: 14px 17px;
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

div.indexElement {
	padding: 13px;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.7;
	background-color: #f4f3f5;
	border-bottom: 1px solid #c8cacc;
}

.indexElementDesc {
	color: #454f59;
	font-size: 1.6rem;
	font-weight: normal;
}


div.headerBar {
  background: #6a3b71;
	color: #FFF;
	padding: 14px 17px;
	font-size: 2.4rem;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px 10px 0 0;
}

div.tutorial {
	padding: 16px;
  background-color: #f4f3f5;
}

.action {
	color: #6a3b71;
	font-weight:bold;
}

.videoContainer {
  max-width: 800px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

table.mouseUsage {
    border: 1px solid #c8cacc;
    border-spacing: 0;
}

table.mouseUsage tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

td, th {
    padding: 8px;
    text-align: left;
    border-width: 0 1px 1px 0;
}
