
QMessageBox {
              background-color: #2a3358;
               }
QMessageBox QLabel { color: #f7ffff;
                   }

QDialog {
              background-color: #2a3358;
               }
